In [39]:
import requests
import pandas as pd

In [40]:

states = {
    "Alabama": "01",
    "Arizona": "04",
    "Arkansas": "05",
    "California": "06",
    "Colorado": "08",
    "Connecticut": "09",
    "Delaware": "10",
    "District of Columbia": "12",
    "Florida": "12",
    "Georgia": "13",
    "Idaho": "16",
    "Illinois": "17",
    "Indiana": "18",
    "Iowa": "19",
    "Kansas": "20",
    "Kentucky": "21",
    "Louisiana": "22",
    "Maine": "23",
    "Maryland": "24",
    "Massachusetts": "25",
    "Michigan": "26",
    "Minnesota": "27",
    "Mississippi": "28",
    "Missouri": "29",
    "Montana": "30",
    "Nebraska": "31",
    "Nevada": "32",
    "New Hampshire": "33",
    "New Jersey": "34",
    "New Mexico": "35",
    "New York": "36",
    "North Carolina": "37",
    "North Dakota": "38",
    "Ohio": "39",
    "Oklahoma": "40",
    "Oregon": "41",
    "Pennsylvania": "42",
    "Rhode Island": "44",
    "South Carolina": "45",
    "South Dakota": "46",
    "Tennessee": "47",
    "Texas": "48",
    "Utah": "49",
    "Vermont": "50",
    "Virginia": "51",
    "Washington": "53",
    "West Virginia": "54",
    "Wisconsin": "55",
    "Wyoming": "56",
}
reversed_states = {value: key for key, value in states.items()}

In [41]:
result = []

def make_row(dataCO, dataNO2, dataSO2, dataO3, dataPM, state, year):
    resCO = []
    resNO2 = []
    resSO2 = []
    resO3 = []
    resPM = []

    for entry in dataCO['Data']:
        if entry["pollutant_standard"] == "CO 8-hour 1971":
            if entry['arithmetic_mean']:
                 resCO.append(entry['arithmetic_mean'])
    if len(resCO) != 0:
        avgCO = sum(resCO)/len(resCO)
    else:
        avgCO = 0

    for entry in dataNO2['Data']:
        if entry["pollutant_standard"] == "NO2 Annual 1971":
            if entry['arithmetic_mean']:
                resNO2.append(entry['arithmetic_mean'])
    if len(resNO2) != 0:
        avgNO2 = sum(resNO2)/len(resNO2)
    else:
        avgNO2 = 0

    for entry in dataSO2['Data']:
        if entry["pollutant_standard"] == "SO2 24-hour 1971" and entry['sample_duration'] == '24-HR BLK AVG':
            if entry['arithmetic_mean']:
                resSO2.append(entry['arithmetic_mean'])
    if len(resSO2) != 0:
        avgSO2 = sum(resSO2)/len(resSO2)
    else:
        avgSO2 = 0

    for entry in dataO3['Data']:
        if entry["pollutant_standard"] == "Ozone 8-Hour 1997":
            if entry['arithmetic_mean']:
                 resO3.append(entry['arithmetic_mean'])
    
    if len(resO3) != 0:
        avgO3 = sum(resO3)/len(resO3)
    else:
        avgO3 = 0

    for entry in dataPM['Data']:
        if entry["pollutant_standard"] == "PM25 Annual 1997":
            if entry['arithmetic_mean']:
                resPM.append(entry['arithmetic_mean'])
    
    if len(resPM) != 0:
        avgPM = sum(resPM)/len(resPM)
    else:
        avgPM = 0
    
    row = {'Year':year,'State':reversed_states[state],'CO':avgCO,'NO2':avgNO2,'O3':avgO3*1000,'SO2':avgSO2, 'PM2.5': avgPM}
    result.append(row)

In [42]:
for state in reversed_states:
    dataCO = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42101&bdate=20160101&edate=20160101&state="+state).json()
    dataNO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42602&bdate=20160101&edate=20160101&state="+state).json()
    dataSO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42401&bdate=20160101&edate=20160101&state="+state).json()
    dataO3 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=44201&bdate=20160101&edate=20160101&state="+state).json()
    dataPM = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=88101&bdate=20150101&edate=20150101&state="+state).json()
    
    make_row(dataCO, dataNO2, dataSO2, dataO3, dataPM, state, "2016")

In [43]:
for state in reversed_states:
    dataCO = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42101&bdate=20170101&edate=20170101&state="+state).json()
    dataNO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42602&bdate=20170101&edate=20170101&state="+state).json()
    dataSO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42401&bdate=20170101&edate=20170101&state="+state).json()
    dataO3 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=44201&bdate=20170101&edate=20170101&state="+state).json()
    dataPM = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=88101&bdate=20150101&edate=20150101&state="+state).json()

    make_row(dataCO, dataNO2, dataSO2, dataO3, dataPM, state, '2017')

In [44]:
for state in reversed_states:
    dataCO = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42101&bdate=20170101&edate=20170101&state="+state).json()
    dataNO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42602&bdate=20170101&edate=20170101&state="+state).json()
    dataSO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42401&bdate=20170101&edate=20170101&state="+state).json()
    dataO3 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=44201&bdate=20170101&edate=20170101&state="+state).json()
    dataPM = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=88101&bdate=20150101&edate=20150101&state="+state).json()

    make_row(dataCO, dataNO2, dataSO2, dataO3, dataPM, state, '2018')

In [45]:
for state in reversed_states:
    dataCO = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42101&bdate=20170101&edate=20170101&state="+state).json()
    dataNO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42602&bdate=20170101&edate=20170101&state="+state).json()
    dataSO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42401&bdate=20170101&edate=20170101&state="+state).json()
    dataO3 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=44201&bdate=20170101&edate=20170101&state="+state).json()
    dataPM = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=88101&bdate=20150101&edate=20150101&state="+state).json()

    make_row(dataCO, dataNO2, dataSO2, dataO3, dataPM, state, '2019')

In [46]:
for state in reversed_states:
    dataCO = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42101&bdate=20170101&edate=20170101&state="+state).json()
    dataNO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42602&bdate=20170101&edate=20170101&state="+state).json()
    dataSO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42401&bdate=20170101&edate=20170101&state="+state).json()
    dataO3 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=44201&bdate=20170101&edate=20170101&state="+state).json()
    dataPM = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=88101&bdate=20150101&edate=20150101&state="+state).json()

    make_row(dataCO, dataNO2, dataSO2, dataO3, dataPM, state, '2020')

In [47]:
for state in reversed_states:
    dataCO = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42101&bdate=20170101&edate=20170101&state="+state).json()
    dataNO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42602&bdate=20170101&edate=20170101&state="+state).json()
    dataSO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42401&bdate=20170101&edate=20170101&state="+state).json()
    dataO3 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=44201&bdate=20170101&edate=20170101&state="+state).json()
    dataPM = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=88101&bdate=20150101&edate=20150101&state="+state).json()

    make_row(dataCO, dataNO2, dataSO2, dataO3, dataPM, state, '2021')

In [48]:
for state in reversed_states:
    dataCO = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42101&bdate=20170101&edate=20170101&state="+state).json()
    dataNO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42602&bdate=20170101&edate=20170101&state="+state).json()
    dataSO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42401&bdate=20170101&edate=20170101&state="+state).json()
    dataO3 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=44201&bdate=20170101&edate=20170101&state="+state).json()
    dataPM = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=88101&bdate=20150101&edate=20150101&state="+state).json()

    make_row(dataCO, dataNO2, dataSO2, dataO3, dataPM, state, '2022')

In [49]:
for state in reversed_states:
    dataCO = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42101&bdate=20170101&edate=20170101&state="+state).json()
    dataNO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42602&bdate=20170101&edate=20170101&state="+state).json()
    dataSO2 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=42401&bdate=20170101&edate=20170101&state="+state).json()
    dataO3 = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=44201&bdate=20170101&edate=20170101&state="+state).json()
    dataPM = requests.get("https://aqs.epa.gov/data/api/quarterlyData/byState?email=ayushee.tbmun@gmail.com&key=cobaltheron43&param=88101&bdate=20150101&edate=20150101&state="+state).json()

    make_row(dataCO, dataNO2, dataSO2, dataO3, dataPM, state, '2023')

In [50]:
new_df = pd.DataFrame(result)

In [51]:
new_df

     Year          State        CO        NO2         O3       SO2     PM2.5
0    2016        Alabama  0.337158  11.547225  28.706667  1.081692  9.436674
1    2016        Arizona  0.334874  14.837061  33.312022  2.655121  6.810794
2    2016       Arkansas  0.296425   7.621050  28.825000  1.008650  9.043935
3    2016     California  0.325858   9.503550  30.596454  0.626877  9.611273
4    2016       Colorado  0.358489  11.945474  37.851099  1.394381  6.344656
..    ...            ...       ...        ...        ...       ...       ...
379  2023       Virginia  0.268529   7.538555  29.867391  1.745232  8.074219
380  2023     Washington  0.256367  12.381411  27.970270  0.898613  7.701125
381  2023  West Virginia  0.247525   0.000000  26.370000  1.826565  9.747752
382  2023      Wisconsin  0.198063   9.101080  31.389516  0.513425  7.537519
383  2023        Wyoming  0.160056   2.885077  38.258559  1.087139  5.241024

[384 rows x 7 columns]

In [52]:
new_df = new_df[new_df['State'] != 'Alaska']
new_df

     Year          State        CO        NO2         O3       SO2     PM2.5
0    2016        Alabama  0.337158  11.547225  28.706667  1.081692  9.436674
1    2016        Arizona  0.334874  14.837061  33.312022  2.655121  6.810794
2    2016       Arkansas  0.296425   7.621050  28.825000  1.008650  9.043935
3    2016     California  0.325858   9.503550  30.596454  0.626877  9.611273
4    2016       Colorado  0.358489  11.945474  37.851099  1.394381  6.344656
..    ...            ...       ...        ...        ...       ...       ...
379  2023       Virginia  0.268529   7.538555  29.867391  1.745232  8.074219
380  2023     Washington  0.256367  12.381411  27.970270  0.898613  7.701125
381  2023  West Virginia  0.247525   0.000000  26.370000  1.826565  9.747752
382  2023      Wisconsin  0.198063   9.101080  31.389516  0.513425  7.537519
383  2023        Wyoming  0.160056   2.885077  38.258559  1.087139  5.241024

[384 rows x 7 columns]

In [53]:
new_df.to_csv('test_data.csv', index=False)